The url generated for the audiostream is inaccessible

The URL stream I'm getting is inaccessible to my music player software. 

`
main debug: processing request item: videoplayback?expire=1587747253&ei=VMWiXp3rO8Ot1Aby5bmYAg&ip=182.70.61.123&id=o-AAH4TC_bIkNah2ymms0OluTMcOZveOLHDzgBHW7cPFaI&itag=18&source=youtube&requiressl=yes&mh=TQ&mm=31,26&mn=sn-ci5gup-cvhr,sn-h557snl6&ms=au,onr&mv=m&mvi=0&pl=20&initcwndbps=550000&vprv=1&mime=video/mp4&gir=yes&clen=17925874&ratebypass=yes&dur=224.676&lmt=1580057050411317&mt=1587725557&fvip=1&c=WEB&txp=5531432&sparams=expire,ei,ip,id,itag,source,requiressl,vprv,mime,gir,clen,ratebypass,dur,lmt&lsparams=mh,mm,mn,ms,mv,mvi,pl,initcwndbps&lsig=ALrAebAwRQIgZxkRq6m7ctwSxbzQcdAN93RnuJObuvoHtwxt3SOa07sCIQCx3hoqUPX50pN7z-_OCR_ItnyZdtjZjzG4j_27dz6ZJg==&sig=QYbcE0rVFqNLEiB-Jw3MOeLvt=DObC9S7fmsXHYZlhZlAEiAlFmZHsGs3SL_FAtT3lmNAFIcAjSu0kqWFnFcd1M0OiNAhIgRwpLY, node: Playlist, skip: 0
main debug: rebuilding array of current - root Playlist
main debug: rebuild done - 2 items, index 1
main debug: starting playback of new item
main debug: resyncing on videoplayback?expire=1587747253&ei=VMWiXp3rO8Ot1Aby5bmYAg&ip=182.70.61.123&id=o-AAH4TC_bIkNah2ymms0OluTMcOZveOLHDzgBHW7cPFaI&itag=18&source=youtube&requiressl=yes&mh=TQ&mm=31,26&mn=sn-ci5gup-cvhr,sn-h557snl6&ms=au,onr&mv=m&mvi=0&pl=20&initcwndbps=550000&vprv=1&mime=video/mp4&gir=yes&clen=17925874&ratebypass=yes&dur=224.676&lmt=1580057050411317&mt=1587725557&fvip=1&c=WEB&txp=5531432&sparams=expire,ei,ip,id,itag,source,requiressl,vprv,mime,gir,clen,ratebypass,dur,lmt&lsparams=mh,mm,mn,ms,mv,mvi,pl,initcwndbps&lsig=ALrAebAwRQIgZxkRq6m7ctwSxbzQcdAN93RnuJObuvoHtwxt3SOa07sCIQCx3hoqUPX50pN7z-_OCR_ItnyZdtjZjzG4j_27dz6ZJg==&sig=QYbcE0rVFqNLEiB-Jw3MOeLvt=DObC9S7fmsXHYZlhZlAEiAlFmZHsGs3SL_FAtT3lmNAFIcAjSu0kqWFnFcd1M0OiNAhIgRwpLY
main debug: videoplayback?expire=1587747253&ei=VMWiXp3rO8Ot1Aby5bmYAg&ip=182.70.61.123&id=o-AAH4TC_bIkNah2ymms0OluTMcOZveOLHDzgBHW7cPFaI&itag=18&source=youtube&requiressl=yes&mh=TQ&mm=31,26&mn=sn-ci5gup-cvhr,sn-h557snl6&ms=au,onr&mv=m&mvi=0&pl=20&initcwndbps=550000&vprv=1&mime=video/mp4&gir=yes&clen=17925874&ratebypass=yes&dur=224.676&lmt=1580057050411317&mt=1587725557&fvip=1&c=WEB&txp=5531432&sparams=expire,ei,ip,id,itag,source,requiressl,vprv,mime,gir,clen,ratebypass,dur,lmt&lsparams=mh,mm,mn,ms,mv,mvi,pl,initcwndbps&lsig=ALrAebAwRQIgZxkRq6m7ctwSxbzQcdAN93RnuJObuvoHtwxt3SOa07sCIQCx3hoqUPX50pN7z-_OCR_ItnyZdtjZjzG4j_27dz6ZJg==&sig=QYbcE0rVFqNLEiB-Jw3MOeLvt=DObC9S7fmsXHYZlhZlAEiAlFmZHsGs3SL_FAtT3lmNAFIcAjSu0kqWFnFcd1M0OiNAhIgRwpLY is at 1
main debug: creating new input thread
main debug: Creating an input for 'videoplayback?expire=1587747253&ei=VMWiXp3rO8Ot1Aby5bmYAg&ip=182.70.61.123&id=o-AAH4TC_bIkNah2ymms0OluTMcOZveOLHDzgBHW7cPFaI&itag=18&source=youtube&requiressl=yes&mh=TQ&mm=31,26&mn=sn-ci5gup-cvhr,sn-h557snl6&ms=au,onr&mv=m&mvi=0&pl=20&initcwndbps=550000&vprv=1&mime=video/mp4&gir=yes&clen=17925874&ratebypass=yes&dur=224.676&lmt=1580057050411317&mt=1587725557&fvip=1&c=WEB&txp=5531432&sparams=expire,ei,ip,id,itag,source,requiressl,vprv,mime,gir,clen,ratebypass,dur,lmt&lsparams=mh,mm,mn,ms,mv,mvi,pl,initcwndbps&lsig=ALrAebAwRQIgZxkRq6m7ctwSxbzQcdAN93RnuJObuvoHtwxt3SOa07sCIQCx3hoqUPX50pN7z-_OCR_ItnyZdtjZjzG4j_27dz6ZJg==&sig=QYbcE0rVFqNLEiB-Jw3MOeLvt=DObC9S7fmsXHYZlhZlAEiAlFmZHsGs3SL_FAtT3lmNAFIcAjSu0kqWFnFcd1M0OiNAhIgRwpLY'
main debug: requesting art for new input thread
main debug: using timeshift granularity of 50 MiB
main debug: looking for meta fetcher module matching "any": 1 candidates
main debug: using timeshift path: C:\Users\souvi\AppData\Local\Temp
main debug: `https://r1---sn-ci5gup-cvhr.googlevideo.com/videoplayback?expire=1587747253&ei=VMWiXp3rO8Ot1Aby5bmYAg&ip=182.70.61.123&id=o-AAH4TC_bIkNah2ymms0OluTMcOZveOLHDzgBHW7cPFaI&itag=18&source=youtube&requiressl=yes&mh=TQ&mm=31%2C26&mn=sn-ci5gup-cvhr%2Csn-h557snl6&ms=au%2Conr&mv=m&mvi=0&pl=20&initcwndbps=550000&vprv=1&mime=video%2Fmp4&gir=yes&clen=17925874&ratebypass=yes&dur=224.676&lmt=1580057050411317&mt=1587725557&fvip=1&c=WEB&txp=5531432&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cvprv%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&lsparams=mh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpl%2Cinitcwndbps&lsig=ALrAebAwRQIgZxkRq6m7ctwSxbzQcdAN93RnuJObuvoHtwxt3SOa07sCIQCx3hoqUPX50pN7z-_OCR_ItnyZdtjZjzG4j_27dz6ZJg%3D%3D&sig=QYbcE0rVFqNLEiB-Jw3MOeLvt=DObC9S7fmsXHYZlhZlAEiAlFmZHsGs3SL_FAtT3lmNAFIcAjSu0kqWFnFcd1M0OiNAhIgRwpLY' gives access `https' demux `any' path `r1---sn-ci5gup-cvhr.googlevideo.com/videoplayback?expire=1587747253&ei=VMWiXp3rO8Ot1Aby5bmYAg&ip=182.70.61.123&id=o-AAH4TC_bIkNah2ymms0OluTMcOZveOLHDzgBHW7cPFaI&itag=18&source=youtube&requiressl=yes&mh=TQ&mm=31%2C26&mn=sn-ci5gup-cvhr%2Csn-h557snl6&ms=au%2Conr&mv=m&mvi=0&pl=20&initcwndbps=550000&vprv=1&mime=video%2Fmp4&gir=yes&clen=17925874&ratebypass=yes&dur=224.676&lmt=1580057050411317&mt=1587725557&fvip=1&c=WEB&txp=5531432&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cvprv%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&lsparams=mh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpl%2Cinitcwndbps&lsig=ALrAebAwRQIgZxkRq6m7ctwSxbzQcdAN93RnuJObuvoHtwxt3SOa07sCIQCx3hoqUPX50pN7z-_OCR_ItnyZdtjZjzG4j_27dz6ZJg%3D%3D&sig=QYbcE0rVFqNLEiB-Jw3MOeLvt=DObC9S7fmsXHYZlhZlAEiAlFmZHsGs3SL_FAtT3lmNAFIcAjSu0kqWFnFcd1M0OiNAhIgRwpLY'
main debug: creating demux: access='https' demux='any' location='r1---sn-ci5gup-cvhr.googlevideo.com/videoplayback?expire=1587747253&ei=VMWiXp3rO8Ot1Aby5bmYAg&ip=182.70.61.123&id=o-AAH4TC_bIkNah2ymms0OluTMcOZveOLHDzgBHW7cPFaI&itag=18&source=youtube&requiressl=yes&mh=TQ&mm=31%2C26&mn=sn-ci5gup-cvhr%2Csn-h557snl6&ms=au%2Conr&mv=m&mvi=0&pl=20&initcwndbps=550000&vprv=1&mime=video%2Fmp4&gir=yes&clen=17925874&ratebypass=yes&dur=224.676&lmt=1580057050411317&mt=1587725557&fvip=1&c=WEB&txp=5531432&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cvprv%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&lsparams=mh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpl%2Cinitcwndbps&lsig=ALrAebAwRQIgZxkRq6m7ctwSxbzQcdAN93RnuJObuvoHtwxt3SOa07sCIQCx3hoqUPX50pN7z-_OCR_ItnyZdtjZjzG4j_27dz6ZJg%3D%3D&sig=QYbcE0rVFqNLEiB-Jw3MOeLvt=DObC9S7fmsXHYZlhZlAEiAlFmZHsGs3SL_FAtT3lmNAFIcAjSu0kqWFnFcd1M0OiNAhIgRwpLY' file='\\r1---sn-ci5gup-cvhr.googlevideo.com\videoplayback'
lua debug: Trying Lua scripts in C:\Users\souvi\AppData\Roaming\vlc\lua\meta\fetcher
main debug: looking for access_demux module matching "https": 15 candidates
main debug: no access_demux modules matched
lua debug: Trying Lua scripts in C:\Program Files (x86)\VideoLAN\VLC\lua\meta\fetcher
main debug: no meta fetcher modules matched
main debug: creating access: https://r1---sn-ci5gup-cvhr.googlevideo.com/videoplayback?expire=1587747253&ei=VMWiXp3rO8Ot1Aby5bmYAg&ip=182.70.61.123&id=o-AAH4TC_bIkNah2ymms0OluTMcOZveOLHDzgBHW7cPFaI&itag=18&source=youtube&requiressl=yes&mh=TQ&mm=31%2C26&mn=sn-ci5gup-cvhr%2Csn-h557snl6&ms=au%2Conr&mv=m&mvi=0&pl=20&initcwndbps=550000&vprv=1&mime=video%2Fmp4&gir=yes&clen=17925874&ratebypass=yes&dur=224.676&lmt=1580057050411317&mt=1587725557&fvip=1&c=WEB&txp=5531432&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cvprv%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&lsparams=mh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpl%2Cinitcwndbps&lsig=ALrAebAwRQIgZxkRq6m7ctwSxbzQcdAN93RnuJObuvoHtwxt3SOa07sCIQCx3hoqUPX50pN7z-_OCR_ItnyZdtjZjzG4j_27dz6ZJg%3D%3D&sig=QYbcE0rVFqNLEiB-Jw3MOeLvt=DObC9S7fmsXHYZlhZlAEiAlFmZHsGs3SL_FAtT3lmNAFIcAjSu0kqWFnFcd1M0OiNAhIgRwpLY
main debug: looking for art finder module matching "any": 2 candidates
main debug: (path: \\r1---sn-ci5gup-cvhr.googlevideo.com\videoplayback)
main debug: looking for access module matching "https": 26 candidates
lua debug: Trying Lua scripts in C:\Users\souvi\AppData\Roaming\vlc\lua\meta\art
lua debug: Trying Lua scripts in C:\Program Files (x86)\VideoLAN\VLC\lua\meta\art
lua debug: Trying Lua playlist script C:\Program Files (x86)\VideoLAN\VLC\lua\meta\art\00_musicbrainz.luac
main debug: looking for tls client module matching "any": 1 candidates
gnutls debug: using GnuTLS version 3.5.19
lua debug: skipping script (unmatched scope) C:\Program Files (x86)\VideoLAN\VLC\lua\meta\art\00_musicbrainz.luac
lua debug: Trying Lua playlist script C:\Program Files (x86)\VideoLAN\VLC\lua\meta\art\01_googleimage.luac
lua debug: skipping script (unmatched scope) C:\Program Files (x86)\VideoLAN\VLC\lua\meta\art\01_googleimage.luac
lua debug: Trying Lua playlist script C:\Program Files (x86)\VideoLAN\VLC\lua\meta\art\02_frenchtv.luac
lua debug: skipping script (unmatched scope) C:\Program Files (x86)\VideoLAN\VLC\lua\meta\art\02_frenchtv.luac
lua debug: Trying Lua playlist script C:\Program Files (x86)\VideoLAN\VLC\lua\meta\art\03_lastfm.luac
lua debug: skipping script (unmatched scope) C:\Program Files (x86)\VideoLAN\VLC\lua\meta\art\03_lastfm.luac
main debug: no art finder modules matched
gnutls debug: loaded 101 trusted CAs from system
main debug: using tls client module "gnutls"
main debug: resolving r1---sn-ci5gup-cvhr.googlevideo.com ...
gnutls debug: TLS handshake: Resource temporarily unavailable, try again.
gnutls debug: TLS handshake: Success.
gnutls debug: - safe renegotiation (RFC5746) enabled
gnutls debug: - extended master secret (RFC7627) enabled
gnutls debug: - false start (RFC7918) enabled
http debug: outgoing request: GET /videoplayback?expire=1587747253&ei=VMWiXp3rO8Ot1Aby5bmYAg&ip=182.70.61.123&id=o-AAH4TC_bIkNah2ymms0OluTMcOZveOLHDzgBHW7cPFaI&itag=18&source=youtube&requiressl=yes&mh=TQ&mm=31%2C26&mn=sn-ci5gup-cvhr%2Csn-h557snl6&ms=au%2Conr&mv=m&mvi=0&pl=20&initcwndbps=550000&vprv=1&mime=video%2Fmp4&gir=yes&clen=17925874&ratebypass=yes&dur=224.676&lmt=1580057050411317&mt=1587725557&fvip=1&c=WEB&txp=5531432&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cvprv%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&lsparams=mh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpl%2Cinitcwndbps&lsig=ALrAebAwRQIgZxkRq6m7ctwSxbzQcdAN93RnuJObuvoHtwxt3SOa07sCIQCx3hoqUPX50pN7z-_OCR_ItnyZdtjZjzG4j_27dz6ZJg%3D%3D&sig=QYbcE0rVFqNLEiB-Jw3MOeLvt=DObC9S7fmsXHYZlhZlAEiAlFmZHsGs3SL_FAtT3lmNAFIcAjSu0kqWFnFcd1M0OiNAhIgRwpLY HTTP/1.1 Host: r1---sn-ci5gup-cvhr.googlevideo.com Accept: */* Accept-Language: en_US User-Agent: VLC/3.0.8 LibVLC/3.0.8 Range: bytes=0- 
http debug: incoming response: HTTP/1.1 403 Forbidden Last-Modified: Wed, 02 May 2007 10:26:10 GMT Content-Type: text/plain Content-Length: 0 Connection: close X-Content-Type-Options: nosniff Date: Fri, 24 Apr 2020 10:58:36 GMT Server: gvs 1.0 
access error: HTTP 403 error
main debug: no access modules matched
main debug: dead input
main debug: changing item without a request (current 1/2)
main debug: nothing to play

`

Duplicate of #264. See if https://github.com/mps-youtube/pafy/issues/264#issuecomment-617246741 fixes this.

Yes clearing the cache helped. Thank you for your prompt response. I was thinking YouTube changed something overnight and rendered my project hopeless.